<div class="container">
    <div class="cover">
        Log In
    </div>

    <form [formGroup]="logIn" (ngSubmit)="onSubmit()" class="input">
        <div class="login email">
            <label for="email" class="mail lbl">Email</label>
            <input type="email" name="email" id="email" formControlName="email">
        </div>

        <div class="login password">
            <label for="password" class="pass lbl">Password</label>
            <input type="password" name="password" id="password" formControlName="password">
        </div>

        <div class="login submit">
            <button type="submit">Sign Back In</button>
        </div>
    </form>
</div>