<div class="container">
    <div class="cover">
        Log In
    </div>
    <div class="input">
        <div class="login email">
            <label for="" class="mail lbl">Email</label>
            <input type="text" name="" id="name">
        </div>

        <div class="login password">
            <label for="" class="pass lbl">Password</label>
            <input type="password" name="" id="pass" [style.transform]="'background-color:green;'"></div>

        <div class="login submit">
            <button type="submit" id="submit">Log In</button>
        </div>
    </div>
</div>