<div class="container">
    <div class="deviceList">
        @if (items !== undefined){
            <app-main-device [device]="items"></app-main-device>
        }
        <!-- @for (device of testDevices; track $index) {
            <app-main-device [device]="testDevices"></app-main-device>
        } -->
        <app-main-device style="cursor: pointer;" [device]="{'default':true}" (click)="NewDevice()"></app-main-device>
    </div>

    <!-- <button type="button"(click)="UpdateChart()">UPDATE</button> -->

    <!-- <div class="chart-container">
        <canvas id="MyChart">
            {{chart}}
        </canvas>
    </div> -->
    

    <button type="button" (click)="tests()">Generate data</button>
</div>