<div class="container">
    <div style="width: 100%; height: 100%;">
        <form [formGroup]="signUp" (ngSubmit)="onSubmit()" class="input">
            <div class="signup email">
                <label for="email" class="mail lbl">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
            </div>
    
            <div class="signup password">
                <label for="password" class="pass lbl">Password</label>
                <input type="password" name="password" id="password" formControlName="password">
            </div>

            <div class="signup submit">
                <button type="submit" id="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>
