<div class="container">
    <div class="cover">
        Sign Up
    </div>
    <div class="input">
        <div class="signup email">
            <label for="email" class="mail lbl">Email</label>
            <input type="text" name="email" id="name">
        </div>

        <div class="signup password">
            <label for="password" class="pass lbl">Password</label>
            <input type="password" name="password" id="pass">
        </div>

        <div class="signup confirm">
            <label for="confPass" class="conf lbl">Confirm Password</label>
            <input type="password" name="confPass" id="conf">
        </div>

        <div class="signup submit">
            <button type="submit" id="submit">Sign Up</button>
        </div>
    </div>
</div>